/* tickets */

.ticket {
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-color: #04030C;
    width: 950px;
    height: 300px;
    border-radius: 15px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
    display: flex;
    align-items: center;
    margin: 10% auto auto auto;
    color: #fff;
  }
  
  .ticket-1 {
    background-image: url(../img/tickets1.jpg);
    background-size: cover;
    position: relative;
  }
  
  .ticket-2 {
    background-image: url(../img/tickets2.jpg);
    background-size: cover;
    position: relative;
  }
  
  .ticket-3 {
    background-image: url(../img/tickets3.jpg);
    background-size: cover;
    position: relative;
  }
  
  .col-auto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
  }
  
  .Viajes {
    padding: 10px;
    background-color: #ffb727;
  }
  
  .sky {
    background: #636566;
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    box-shadow: 0px 1px 7px 6px rgb(220, 220, 220);
    margin: 50px auto;
  }
  
  .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #5bb2ec;
    float: left;
    margin-right: 10px;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .dot1 {
    animation-name: smoke1;
  }
  
  .dot2 {
    animation-name: smoke2;
  }
  
  .dot3 {
    animation-name: smoke3;
  }
  
  .dot4 {
    animation-name: smoke4;
  }
  
  .dot5 {
    animation-name: smoke5;
  }
  
  .dot6 {
    animation-name: smoke6;
  }
  
  .dot7 {
    animation-name: smoke7;
  }
  
  .dot8 {
    animation-name: smoke8;
  }
  
  .dot9 {
    animation-name: smoke9;
  }
  
  .dot10 {
    animation-name: smoke10;
  }
  
  .dot11 {
    animation-name: smoke11;
  }
  
  .dot12 {
    animation-name: smoke12;
  }
  
  .dot13 {
    animation-name: smoke13;
  }
  
  .dot14 {
    animation-name: smoke14;
  }
  
  @keyframes smoke1 {
    0% {
      transform: scale(1.8);
      background: #fff;
    }
  
    7.14% {
      transform: scale(1);
      background: #fff;
    }
  
    100% {
      transform: scale(1);
      background: #fff;
    }
  }
  
  @keyframes smoke2 {
    0% {
      transform: scale(1);
    }
  
    7.14% {
      transform: scale(1);
      background: #fff;
    }
  
    14.28% {
      transform: scale(1.8);
      background: #fff;
    }
  
    21.42% {
      transform: scale(1);
      background: #fff;
    }
  
    100% {
      transform: scale(1);
      background: #fff;
    }
  }
  
  @keyframes smoke3 {
    0% {
      transform: scale(1);
    }
  
    14.28% {
      transform: scale(1);
      background: #fff;
    }
  
    21.42% {
      transform: scale(1.8);
      background: #fff;
    }
  
    28.56% {
      transform: scale(1);
      background: #fff;
    }
  
    100% {
      transform: scale(1);
      background: #fff;
    }
  }
  
  @keyframes smoke4 {
    0% {
      transform: scale(1);
    }
  
    21.42% {
      transform: scale(1);
      background: #fff;
    }
  
    28.56% {
      transform: scale(1.8);
      background: #fff;
    }
  
    35.7% {
      transform: scale(1);
      background: #fff;
    }
  
    100% {
      transform: scale(1);
      background: #fff;
    }
  }
  
  @keyframes smoke5 {
    0% {
      transform: scale(1);
    }
  
    28.56% {
      transform: scale(1);
      background: #fff;
    }
  
    35.7% {
      transform: scale(1.8);
      background: #fff;
    }
  
    42.84% {
      transform: scale(1);
      background: #fff;
    }
  
    100% {
      transform: scale(1);
      background: #fff;
    }
  }
  
  @keyframes smoke6 {
    0% {
      transform: scale(1);
    }
  
    35.7% {
      transform: scale(1);
      background: #fff;
    }
  
    42.84% {
      transform: scale(1.8);
      background: #fff;
    }
  
    49.98% {
      transform: scale(1);
      background: #fff;
    }
  
    100% {
      transform: scale(1);
      background: #fff;
    }
  }
  
  @keyframes smoke7 {
    0% {
      transform: scale(1);
    }
  
    42.84% {
      transform: scale(1);
      background: #fff;
    }
  
    49.98% {
      transform: scale(1.8);
      background: #fff;
    }
  
    57.12% {
      transform: scale(1);
      background: #fff;
    }
  
    100% {
      transform: scale(1);
      background: #fff;
    }
  }
  
  @keyframes smoke8 {
    0% {
      transform: scale(1);
    }
  
    49.98% {
      transform: scale(1);
      background: #fff;
    }
  
    57.12% {
      transform: scale(1.8);
      background: #fff;
    }
  
    64.26% {
      transform: scale(1);
      background: #fff;
    }
  
    100% {
      transform: scale(1);
      background: #fff;
    }
  }
  
  @keyframes smoke9 {
    0% {
      transform: scale(1);
    }
  
    57.12% {
      transform: scale(1);
      background: #fff;
    }
  
    64.26% {
      transform: scale(1.8);
      background: #fff;
    }
  
    71.4% {
      transform: scale(1);
      background: #fff;
    }
  
    100% {
      transform: scale(1);
      background: #fff;
    }
  }
  
  @keyframes smoke10 {
    0% {
      transform: scale(1);
    }
  
    64.26% {
      transform: scale(1);
      background: #fff;
    }
  
    71.4% {
      transform: scale(1.8);
      background: #fff;
    }
  
    78.54% {
      transform: scale(1);
      background: #fff;
    }
  
    100% {
      transform: scale(1);
      background: #fff;
    }
  }
  
  @keyframes smoke11 {
    0% {
      transform: scale(1);
    }
  
    71.4% {
      transform: scale(1);
      background: #fff;
    }
  
    78.54% {
      transform: scale(1.8);
      background: #fff;
    }
  
    85.68% {
      transform: scale(1);
      background: #fff;
    }
  
    100% {
      transform: scale(1);
      background: #fff;
    }
  }
  
  @keyframes smoke12 {
    0% {
      transform: scale(1);
    }
  
    78.54% {
      transform: scale(1);
      background: #fff;
    }
  
    85.68% {
      transform: scale(1.8);
      background: #fff;
    }
  
    92.82% {
      transform: scale(1);
      background: #fff;
    }
  
    100% {
      transform: scale(1);
      background: #fff;
    }
  }
  
  @keyframes smoke13 {
    0% {
      transform: scale(1);
    }
  
    85.68% {
      transform: scale(1);
      background: #fff;
    }
  
    92.82% {
      transform: scale(1.8);
      background: #fff;
    }
  
    99.96% {
      transform: scale(1);
      background: #fff;
    }
  
    100% {
      transform: scale(1);
      background: #fff;
    }
  }
  
  @keyframes smoke14 {
    0% {
      transform: scale(1);
    }
  
    92.82% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.8);
      background: #fff;
    }
  }
  
  @keyframes fly {
    from {
      left: 0;
    }
  
    to {
      left: 100%;
    }
  }
  
  .date {
    margin: 15px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  
    .day {
      font-size: 80px;
      float: left;
    }
  }
  
  .fa-rocket {
    color: #fff;
    position: absolute;
    left: -5;
    top: -8px;
    z-index: 10;
    font-size: 22px;
    animation-name: fly;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .flight-route {
    position: relative;
  }
  
  #check {
    color: #ffb727;
  }
  
  /* .date .month-and-time {
    float: left;
    margin: 15px 0 0 0;
    font-weight: bold;
  } */
  
  /* .artist {
    font-size: 30px;
    margin: 30px 100px 0 40px;
    float: left;
    font-weight: bold;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  }
   */
  .location {
    float: left;
    margin: 135px 0 0 78px;
    font-size: 30px;
    font-weight: bold;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  
    &::before {
      background-image: url(../img/robot2.png);
      background-size: 110px 110px;
      width: 110px;
      height: 110px;
      content: "";
      display: inline-block;
      position: absolute;
      left: -160px;
      bottom: 5px;
      filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
    }
  }
  
  .letras {
    display: inline-block;
    position: absolute;
    left: 130px;
    bottom: 5px;
  }
  
  .location1::before {
    background-image: url(../img/robotuno10.png);
    background-size: 110px 110px;
    width: 110px;
    height: 110px;
    content: "";
    display: inline-block;
    position: absolute;
    left: 30px;
    bottom: 5px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  }
  
  .location2::before {
    background-image: url(../img/robotuno.png);
    background-size: 110px 110px;
    width: 110px;
    height: 110px;
    content: "";
    display: inline-block;
    position: absolute;
    left: 30px;
    bottom: 5px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  }
  
  .location3::before {
    background-image: url(../img/robot2.png);
    background-size: 110px 110px;
    width: 110px;
    height: 110px;
    content: "";
    display: inline-block;
    position: absolute;
    left: 30px;
    bottom: 5px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  }
  
  .rip {
    border-right: 8px dotted #a543a0;
    height: 300px;
    position: absolute;
    top: 0;
    left: 780px;
  }
  
  .cta .buy {
    position: absolute;
    top: 135px;
    right: 15px;
    display: block;
    font-size: 12px;
    font-weight: bold;
    background-color: #ffb727;
    padding: 10px 20px;
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
    transform: rotate(-90deg);
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  }
  
  .small {
    font-weight: 200;
  }
  
  /* contacto */
  
  .whats {
    padding: 10px;
    width: 800px;
    margin:auto; 
  }
  
  .texto {
    -webkit-animation-name: texto;
    animation-name: texto;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  @-webkit-keyframes texto {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 100%;
    }
  }
  
  @keyframes texto {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 100%;
    }
  }
  
  .pro {
    margin: 20px;
  }
  
  .imagenLuna {
    margin: 45px;
    width: 400px;
    height: 300px;
  }
  
  .linkeando {
    box-shadow: inset 0 0 0 0;
    color: none;
    padding: 0 0.25rem;
    margin: 0 -0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  
    &:hover {
      color: #ffb727;
      box-shadow: inset 600px 0 0 0 #ffb727;
    }
  
    color: #ffb727;
    font-family: "Poppins", sans-serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
  }
  
  .container-prox {
    background: url("../img/moon-2-p-1080.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #0a0a0b;
    overflow: hidden;
    background-color: #04030C;
  }
  